body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:442px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:866px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:866px;
  display:flex;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:766px;
  width:30px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
